<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/css/style.css">
	<title>QR</title>
</head>
<body>
<div class="container">
	<!--   

`	<div class="logo">
		<img src="https://firebasestorage.googleapis.com/v0/b/vinhbidien-a7303.appspot.com/o/ScanQR-W-06.png?alt=media&token=37bcb6ba-31e4-4909-81d7-867a1dc6fb58" alt="nowisnotthetime">
	</div>
	<div class="scanhere"> 
		<img src="https://firebasestorage.googleapis.com/v0/b/vinhbidien-a7303.appspot.com/o/ScanQR-W-07.png?alt=media&token=43cecd97-5a8c-4675-849e-c6cd1a695015" alt="">
	</div>


	-->
	
	<div class="Qrimg">
		<div class="typing-animation">
			<div class="dot" style="--delay: 200ms"></div>
			<div class="dot" style="--delay: 300ms"></div>
			<div class="dot" style="--delay: 400ms"></div>
		</div>

	</div>
	
	
	
</div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
	const socket = io();
  		const img_qr = document.querySelector('.Qrimg');
		const imgagecode = document.createElement('img');
		
		const countdownEl = document.createElement('p'); 

	socket.on('image', (image_qr, loading) => {
		
		imgagecode.setAttribute('src', image_qr);
		img_qr.appendChild(imgagecode)
		img_qr.appendChild(countdownEl)
		countdownEl.textContent = `${loading}`

		
		//name_qr.textContent = `${title_qr}`;
		
		// loading bar
		
		let time = loading;
		let countdown = setInterval(update, 1000)
		function update() {
			time--;
			countdownEl.textContent = `${time}`
			console.log(time)
			if(time == 0 ){
				clearInterval(countdown)
			 	countdownEl.remove();
			 	imgagecode.remove()
			}
			 
		}

		// time Out


	});
  
</script>

</html>