* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.container{
	background: url("https://firebasestorage.googleapis.com/v0/b/vinhbidien-a7303.appspot.com/o/ScanQR-W.png?alt=media&token=e5e13bcf-cd93-4666-a474-d9318e3502a6");
	width: 100%;
	background-size: cover;
	height: 100vh;
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 0 5%;
}

h1 {
	text-align: center;
}

.container h1{
	font-size: 30px;
	color: white;
	font-weight: 600;
	transition: 0.5s;
}

.container img {
	display: block;
  	margin-left: auto;
	padding-top: 550px;
	width: 19%;
}



